<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Home" }}
</head>

<body class="my-5">
	{{> sections/hero-carousel totalSlide=3}}

	{{#> sections/carousel-scroll id="featured-products" class="mt-4 mt-lg-6 mb-5 mb-lg-6" header="Sand & Sky featured products" button="Shop all featured"}}
		{{> compounds/product-card class="carousel-item mb-0" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="cc3195" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="66b3df" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="ff6f8d" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="cc3195" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="66b3df" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="ff6f8d" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="cc3195" badge="Best Seller"}}
		{{> compounds/product-card class="carousel-item mb-0" color="66b3df" badge="Best Seller"}}
	{{/ sections/carousel-scroll}}

	<div class="my-5 my-lg-6 bg-light">
		<div class="container px-g py-5">
			<h2 class="h1">Ingredients block</h2>
		</div>
	</div>

	{{> sections/collection-section class="my-5 mt-lg-6" color="ff6f8d" range="apc" header="Detoxify with Australian Pink Clay" button="Shop all Detoxify"}}

	{{> sections/collection-section class="my-5" color="cc3195" range="aea" header="Brighten with Australian Emu Apple" button="Shop all Brighten"}}

	{{> sections/collection-section class="my-5" color="66b3df" range="tsw" header="Hydrate with Tasmanian Spring Water" button="Shop all Hydrate"}}

	<div class="container px-g mt-5 mb-4 a-beauty-banner">
		<div class="row align-items-lg-center">
			<div class="col-12 col-lg-8 mb-lg-2">
				<h2 class="h1 mb-lg-4">Bringing A-Beauty to the world</h2>
				<p class="mb-0 mb-lg-2">
					Based on clean and highly effective formulas, we skip the 10-step routines and crazy claims.
					<span class="d-none d-lg-inline-block">‘Cause we’d rather be at the beach, than stuck in the bathroom.</span>
					<a href="">Explore A-Beauty</a>
				</p>
				<div class="row">
					<div class="col-6 col-lg-3 text-center py-3">
						<i class="sni-text icon-size-xl text-secondary d-block mb-3" aria-hidden="true">australia</i>
						<span class="font-size-sm">Australian Botanical ingredients.</span>
					</div>
					<div class="col-6 col-lg-3 text-center py-3">
						<i class="sni-text icon-size-xl text-secondary d-block mb-3" aria-hidden="true">koala</i>
						<span class="font-size-sm">Cruelty-free. <br> <b><i>PETA</i></b> Approved.</span>
					</div>
					<div class="col-6 col-lg-3 text-center py-3">
						<i class="sni-text icon-size-xl text-secondary d-block mb-3" aria-hidden="true">shake</i>
						<span class="font-size-sm">No worries <br> skincare.</span>
					</div>
					<div class="col-6 col-lg-3 text-center py-3">
						<i class="sni-text icon-size-xl text-secondary d-block mb-3" aria-hidden="true">nasties</i>
						<span class="font-size-sm">No nasties, only <br> clean formulas.</span>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4 mt-3 mt-lg-0">
				<picture class="d-block">
					<source srcset="https://via.placeholder.com/740x740" media="(min-width: 992px)">
					<source srcset="https://via.placeholder.com/690x420">
					<img src="https://via.placeholder.com/690x420" alt="Placeholder" class="d-block w-100">
				</picture>
			</div>
		</div>

		<hr class="border-top mt-4 mb-0">
	</div>

	{{#> sections/carousel-scroll class="my-4 my-lg-5 py-2 py-lg-0" header="Instagram lorem ipsum dolor sit amet" button="Go to Instagram"}}
		{{#times 8}}
		<img class="carousel-item col-12 col-lg-1o5" src="https://via.placeholder.com/255x255/?text={{@index}}" />
		{{/times}}
	{{/ sections/carousel-scroll}}

	<div class="bg-light">
		<div class="container px-g py-5">
			<h2 class="h1 text-center pb-lg-4 mb-0">Recognized A-Beauty leader by…</h2>
			<div id="a-beauty-review" class="carousel slide py-4 mb-4" data-ride="carousel" data-interval="7000">
				<ul class="list-unstyled carousel-inner mb-0">
					{{#times 4}}
					<li class="carousel-item text-center font-size-lg font-weight-light font-italic justify-content-center align-items-center px-3 {{#if @first}}active{{/if}}">
						“Pores appeared visibly smaller… <br>This mask is no lie!” Slide {{@index}}
					</li>
					{{/times}}
				</ul>

				<a class="carousel-control-prev text-body ml-ng justify-content-start" href="#a-beauty-review" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon carousel-control--background bg-transparent sni sni__chevron-prev justify-content-center align-items-center"
						aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next text-body mr-ng justify-content-end" href="#a-beauty-review" role="button" data-slide="next">
					<span class="carousel-control-next-icon carousel-control--background bg-transparent sni sni__chevron-next justify-content-center align-items-center"
						aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

				<ol class="carousel-indicators mx-0 mb-0 justify-content-between">
					{{#times 4}}
					<li data-target="#a-beauty-review" data-slide-to="{{minus @index 1}}" class="w-auto {{#if @first}}active{{ else if (eq @index 2) }}carousel-indicator--next{{ else }}carousel-indicator--next-out{{/if}}">
						<img class="d-block" src="https://via.placeholder.com/165x50/?text=Logo {{@index}}" />
					</li>
					{{/times}}
				</ol>
			</div>
		</div>
	</div>

	{{> sections/feature-banner}}

	{{> sections/newsletter-banner}}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
