<div class="product-variant custom-radio w-100 mb-3 position-relative {{class}}">
	<input id="{{name}}-{{value}}" class="custom-control-input" type="radio" name="{{name}}" value="{{value}}" {{#if checked}}checked{{/if}} data-image="{{image}}" data-variant-id="{{ variantid }}" data-available="{{ available }}" data-waitlist="{{ waitlist }}" onchange="window.variantAvailable(this)" />
	<div class="active-border position-absolute rounded"></div>
	<label for="{{name}}-{{value}}" class="custom-control-label w-100 py-3 pr-2">
		<p class="mb-2 font-weight-bold product-variant__title d-flex">
			{{title}} {{#if isWaitlist }}(Out of stock){{/if}}
			{{#if compare}}
			<span class="d-none product-variant__tag rounded bg-primary text-white font-size-sm font-weight-normal px-1 ml-1">Save 40%</span>
			{{/if}}
		</p>
		<p class="mb-2 product-variant__description">1x Hydration Boost Cream Moisturiser</p>
		{{#if subtitle}}
		<p class="mb-2 product-variant__description">1x Hydration Boost Cream Moisturiser</p>
		{{/if}}
		<p class="mb-0 product-variant__price">
			{{#if compare}}
			<span class="text-linethrough text-muted">$89.80</span>
			{{/if}}
			<span class="font-weight-bold">$44.90</span>
			{{#if compare}}
			<span class="text-secondary font-weight-bold">(SAVE 30%)</span>
			{{/if}}
		</p>
	</label>
</div>
