<div class="product-variant custom-radio w-100 mb-3 position-relative">
	<input id="{{name}}-{{value}}" class="custom-control-input" type="radio" name="{{name}}" value="{{value}}" {{#if checked}}checked{{/if}} data-image="{{image}}" />
	<div class="active-border position-absolute rounded"></div>
	<label for="{{name}}-{{value}}" class="custom-control-label w-100 py-3 pr-2">
		<p class="mb-2 font-weight-bold">{{title}}</p>
		<p class="mb-2">1x Hydration Boost Cream Moisturiser</p>
		{{#if subtitle}}
		<p class="mb-2">1x Hydration Boost Cream Moisturiser</p>
		{{/if}}
		<p class="mb-0">
			{{#if compare}}
			<span class="text-linethrough text-muted">$89.80</span>
			{{/if}}
			<span class="product-variant__price font-weight-bold">$44.90</span>
			{{#if compare}}
			<span class="text-secondary font-weight-bold">(SAVE 30%)</span>
			{{/if}}
		</p>
	</label>
</div>
