<div class="product-variant product-variant--abtest custom-radio w-100 mb-3 position-relative d-none">
	<input id="{{name}}-{{value}}" class="custom-control-input" type="radio" name="{{name}}" value="{{value}}" {{#if checked}}checked{{/if}}/>
	<div class="active-border position-absolute rounded"></div>
	<label for="{{name}}-{{value}}" class="custom-control-label w-100 py-g px-g d-flex align-items-start">
		<div class="product-variant__text flex-grow-1">
			<p class="mb-2 font-weight-bold">{{title}}</p>
			<p class="mb-2">1x Hydration Boost Cream Moisturiser</p>
			{{#if subtitle}}
			<p class="mb-2">1x Hydration Boost Cream Moisturiser</p>
			{{/if}}
			<p class="mb-0">
				{{#if compare}}
				<span class="text-linethrough text-muted">$89.80</span>
				{{/if}}
				<span class="text-body font-weight-bold">$44.90</span>
				{{#if compare}}
				<span class="text-secondary font-weight-bold">(SAVE 30%)</span>
				{{/if}}
			</p>
		</div>
		<img src="https://via.placeholder.com/85x100" class="d-block ml-2">
	</label>
</div>
