<div class="product-variant product-variant--subscription product-variant--subscription--v1 mb-4 position-relative">
	<figure>
		<noscript class="loading-lazy">
			<picture class="embed-responsive bg-shimmer position-absolute">
				<img src="../images/subscription-tsw.jpg" alt="Slide {{@index}}" class="d-block embed-responsive-item fit--cover" loading="lazy">
			</picture>
		</noscript>
		<figcaption class="pt-3 px-3">
			<p class="font-size-sm"><span class="text-secondary">Save 15% instantly +</span> have your skincare staple<br/>automatically replenished!</p>
			<span class="text-linethrough text-muted">$89.80</span>
			<span class="product-variant__price font-weight-bold">$44.90</span>
			<div class="custom-checkbox d-flex align-items-center">
				<input id="{{name}}-{{value}}" class="custom-control-input" type="checkbox" name="{{name}}" value="{{value}}" {{#if checked}}checked{{/if}} data-image="{{image}}" />
				<label for="{{name}}-{{value}}" class="custom-control-label pl-3 pt-1 text-secondary font-size-sm font-weight-bold">
					Subscribe now 
				</label>
				<a class="text-primary ml-1 d-inline-flex" data-offset-lg="110" data-offset="0" data-container="body" data-toggle="popover" data-placement="top" data-placement-md="right" data-content="Never run out of your hair must-haves, with free shipping on top of that.<br/><br/>Cancel anytime with no hassle! ❤️" data-html="true">
					<img class="svg text-secondary" src="icons/help.svg" replace-to-svg />
				</a>
			</div>
		</figcaption>
	</figure>
	<a href="javascript:void(0)" class="ml-3 mt-3 mt-lg-2 text-underline font-size-sm d-inline-block" data-toggle="modal" data-target="#subscriptionDetail">
		<img class="svg mr-1 font-size-lg" src="icons/recurring.svg" replace-to-svg/> Subscriptions Detail
	</a>
</div>
{{> components/modal-variant-subscription }}
