<div class="{{ class }} product-variant product-variant--subscription mb-4 position-relative mx-ng mx-md-0">
	<figure class="my-2 my-lg-1">
		<noscript class="loading-lazy">
			<picture class="embed-responsive bg-shimmer position-absolute">
				<img src="https://via.placeholder.com/468x105/FFEFF2?text=banner" class="d-block embed-responsive-item fit--cover" loading="lazy">
			</picture>
		</noscript>
		<figcaption class="p-3">
			<p class="text-secondary mb-0">Save 20% off + free shipping</p>
			<p class="font-size-sm">when you subscribe!</p>
			<div class="custom-checkbox d-flex align-items-center">
				<input id="{{name}}-{{value}}" class="custom-control-input" type="checkbox" name="{{name}}" value="{{value}}" {{#if checked}}checked{{/if}} data-image="{{image}}" />
				<label for="{{name}}-{{value}}" class="custom-control-label pl-3 py-1 font-weight-bold">
					<span class="font-size-sm ml-1">Let’s do it!</span>
				</label>
			</div>
		</figcaption>
	</figure>
	<a href="javascript:void(0)" class="px-g px-lg-0 text-underline font-size-sm d-inline-block" data-toggle="modal" data-target="#subscriptionDetail">
		<img class="svg mr-1 font-size-lg" src="icons/recurring.svg" replace-to-svg/> Subscriptions Detail
	</a>
</div>
{{> components/modal-variant-subscription }}
