<div {{#if id}}id="{{ id }}"{{/if}} class="{{ class }}">
	<div class="carousel--scroll position-relative">
		<div class="carousel-inner d-flex flex-lg-nowrap row w-auto pt-3 pt-lg-4 px-hg" role="listbox">
			{{#if @partial-block}}{{> @partial-block }}{{/if}}
		</div>
		<div class="mt-3 mx-lg-n1">
			<div class="scrollbar">
				<div class="scrollbar--thumb"></div>
			</div>
		</div>

		<a class="{{controlclass}} carousel-control-prev disabled text-body ml-ng" role="button">
			<span
				class="carousel-control-prev-icon carousel-control--background d-flex justify-content-center align-items-center"
				aria-hidden="true">
				<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
			</span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="{{controlclass}} carousel-control-next text-body mr-ng" role="button">
			<span
				class="carousel-control-next-icon carousel-control--background d-flex justify-content-center align-items-center"
				aria-hidden="true">
				<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			</span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	{{#if button}}
	<div class="d-flex justify-content-center d-lg-none mt-4">
		<button class="btn btn-lg btn-primary">{{ button }}</button>
	</div>
	{{/if}}
</div>
