<section id="hero-carousel{{#if num}}{{num}}{{/if}}" class="hero-carousel carousel slide {{ class }}" data-ride="carousel" data-interval="7000" data-pause="false">
	<ol class="carousel-indicators carousel-indicators--timer mb-0">
		{{#times totalSlide}}
		<li data-target="#hero-carousel{{#if num}}{{num}}{{/if}}" data-slide-to="{{minus @index 1}}" class="border-0 mb-3 mx-1 {{#if @first}}active{{/if}}"></li>
		{{/times}}
	</ol>

	<div class="carousel-inner" role="listbox">
		{{#times totalSlide}}
		{{#if @first}}
		{{#> compounds/hero-banner class="carousel-item active" }}
			<p class="h1">Dive into deep hydration</p>
			<p>Meet Tasmanian Spring Water - Slide {{@index}}</p>
			<button class="btn btn-lg btn-primary">Shop the range</button>
		{{/ compounds/hero-banner}}
		{{else}}
		{{#> compounds/hero-banner class="carousel-item" }}
			<p class="h1">Dive into deep hydration</p>
			<p>Meet Tasmanian Spring Water - Slide {{@index}}</p>
			<button class="btn btn-lg btn-primary">Shop the range</button>
		{{/ compounds/hero-banner}}
		{{/if}}
		{{/times}}
	</div>
</section>
