<section id="hero-carousel{{#if num}}{{num}}{{/if}}" class="hero-carousel carousel slide {{ class }}" data-ride="carousel" data-interval="7000" data-pause="false">
	<ol class="carousel-indicators carousel-indicators--timer mb-0">
		{{#times totalSlide}}
		<li data-target="#hero-carousel{{#if num}}{{num}}{{/if}}" data-slide-to="{{minus @index 1}}" class="border-0 mb-3 mx-1 {{#if @first}}active{{/if}}"></li>
		{{/times}}
	</ol>

	<ul class="list-unstyled carousel-inner mb-0">
		{{#times totalSlide}}
		<li class="carousel-item hero-banner {{#if @first}}active{{/if}}">
			<figure class="container-grid position-relative mb-0">
				<picture class="d-block grid-start grid-lg-s5 grid-end">
					<source srcset="https://via.placeholder.com/1810x1020" media="(min-width: 992px)">
					<source srcset="https://via.placeholder.com/750x600">
					<img src="https://via.placeholder.com/750x600" alt="Slide {{@index}}" class="d-block w-100">
				</picture>
				<figcaption class="mt-n4 my-lg-3 bg-white grid-s1 grid-w12 grid-lg-w5 d-flex flex-column justify-content-center">
					<div class="hero-carousel__text px-g py-4 text-center text-lg-left">
						<p class="h1">Dive into deep hydration</p>
						<p>Meet Tasmanian Spring Water - Slide {{@index}}</p>
						<button class="btn btn-lg btn-primary">Shop the range</button>
					</div>
				</figcaption>
			</figure>
		</li>
		{{/times}}
	</ul>
</section>
