<section id="hero-carousel-split{{#if num}}{{num}}{{/if}}{{#if num}}{{num}}{{/if}}" class="hero-carousel hero-carousel--split carousel slide {{ class }}" data-interval="7000" data-pause="false">
	<ol class="carousel-indicators {{#if indicator-timer}}carousel-indicators--timer{{/if}} mb-0 d-none d-lg-flex">
		{{#times totalSlide}}
		<li data-target="#hero-carousel-split{{#if num}}{{num}}{{/if}}" data-slide-to="{{minus @index 1}}" class="border-0 mb-3 mx-1 {{#if @first}}active{{/if}}"></li>
		{{/times}}
	</ol>

	<a class="carousel-control carousel-control-prev d-lg-none w-auto" href="#hero-carousel-split" role="button" data-slide="prev">
		<span class="carousel-control-next-icon carousel-control--background d-flex justify-content-center align-items-center" aria-hidden="true">
			<img class="svg text-body" src="icons/chevron-prev.svg" replace-to-svg />
		</span>
		<span class="sr-only">Prev</span>
	</a>
	<a class="carousel-control carousel-control-next d-lg-none w-auto" href="#hero-carousel-split" role="button" data-slide="next">
		<span class="carousel-control-next-icon carousel-control--background d-flex justify-content-center align-items-center" aria-hidden="true">
			<img class="svg text-body" src="icons/chevron-next.svg" replace-to-svg />
		</span>
		<span class="sr-only">Next</span>
	</a>

	<div class="carousel-inner" role="listbox">
		{{#times totalSlide}}
			{{#if @first}}
				{{#> compounds/hero-banner-split class="carousel-item active" }}
				<p class="h1 mb-3">Bestsellers</p>
				<p class="mb-3">Products you’ll love from the first to the last drop Products you’ll love from the first to the last drop</p>
				<a href="" class="btn btn-lg btn-primary btn-block">Shop the range</a>
				{{/ compounds/hero-banner-split}}
			{{else}}
				{{#> compounds/hero-banner-split class="carousel-item" }}
				<p class="h1 mb-3">20% OFF Moisturiser Kit</p>
				<p class="mb-3">+ Free mini Hydration Boost Kit (Worth $37.80) with code: QUENCH</p>
				<a href="" class="btn btn-lg btn-primary btn-block">Shop the range</a>
				<span class="hero-banner__note d-block font-size-xs mt-g">*Excludes bundles, travel-sized products & the Glow Berrries Moisturiser. Minimum spend of $55 applies</span>
				{{/ compounds/hero-banner-split}}
			{{/if}}
		{{/times}}
	</div>
</section>
