<section class="container mb-5 range-product">
	<p class="h1 mb-3 mb-lg-2 px-hg px-lg-0">{{ title }}</p>
	<p class="font-weight-bold mb-3 mb-lg-2 px-hg px-lg-0 {{ textclass }}">{{ subtitle }}</p>
	<p class="mb-3 px-hg px-lg-0">{{ text }}</p>
	<div class="row">
		<picture class="col-12 col-lg-auto pt-lg-4 {{ bannerClass }}">
			<source srcset="{{ imgUrl_dt }}" media="(min-width: 992px)"/>
			<img class="w-100 px-hg px-lg-0" src="{{ imgUrl }}"/>
		</picture>
		{{#if useCarousel}}
		{{#> sections/carousel-scroll-range id="range-products-abtest" class="featured-products-carousel col-12 col-lg-products" }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" badgeimg=true class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color title="Hydration Boost Cream Moisturiser (2 lines)"}}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card range_page=true range_page_classes="col-lg-3 px-lg-hg" class="carousel-item mb-2 mb-lg-0 pb-lg-0" color=color }}
		{{/ sections/carousel-scroll-range}}
		{{ else }}
		<div class="col-12 col-lg-products__no-carousel d-flex flex-wrap justify-content-center pt-3 pt-lg-4 px-lg-0">
			{{> compounds/product-card title="Oil Control Clearing Cleanser (2 lines)" range_page=true range_page_classes="col-lg-4 px-lg-hg" badgeimg=true class="mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card title="Oil Control Clearing Face Mask" range_page=true range_page_classes="col-lg-4 px-lg-hg" class="mb-2 mb-lg-0 pb-lg-0" color=color }}
			{{> compounds/product-card title="Oil Control Kit" range_page=true range_page_classes="col-lg-4 px-lg-hg" class="mb-2 mb-lg-0 pb-lg-0" color=color }}
		</div>
		{{/if}}
	</div>
</section>
