<section class="container text-center my-5 py-lg-5">
	<p class="h1 mb-5">What our customers are saying</p>
	<div id="testimonialCarouselControls" class="carousel slide" data-ride="carousel" data-interval="false">
		<div class="carousel-inner">
			<div class="col-12 col-lg-4 carousel-item active d-lg-block mr-lg-0">
				<h2 class="{{ textcolor }} mb-3">Love how it feels on</h2>
				<em class="d-block font-size-sm mb-3 mx-3 mx-lg-0">Love love love this product!!! I apply all over the face 3 times a week and leave it on for about 30 minutes. Feels awesome after!!! And for the first 3 weeks I did my acne spots every night.</em>
				<a href="#" class="text-underline {{ linkColor }}">Deep Pore Cleanser</a>
				<strong class="d-flex justify-content-center align-items-center mt-3">
					- Sofia R.
					<img class="svg text-tsw" src="icons/verified.svg" replace-to-svg />
				</strong>
				<p class="font-size-sm">Verified buyer</p>
			</div>
			<div class="col-12 col-lg-4 carousel-item d-lg-block mr-lg-0">
				<h2 class="{{ textcolor }} mb-3">Obsessed.</h2>
				<em class="d-block font-size-sm mb-3 mx-3 mx-lg-0">I have been a Sand & Sky fan since day one and I am obsessed with new cleanser. It’s smooth, gentle and a lot goes a long way. The perfect addition to my collection.</em>
				<a href="#" class="text-underline {{ linkColor }}">Porefining Face Mask</a>
				<strong class="d-flex justify-content-center align-items-center mt-3">
					- Charlie B.
					<img class="svg text-tsw" src="icons/verified.svg" replace-to-svg />
				</strong>
				<p class="font-size-sm">Verified buyer</p>
			</div>
			<div class="col-12 col-lg-4 carousel-item d-lg-block mr-lg-0">
				<h2 class="{{ textcolor }} mb-3">This product actually works!</h2>
				<em class="d-block font-size-sm mb-3 mx-3 mx-lg-0">The best product I have used so far! I have been using it for the last 2 months and I can say without exaggeration that I have not had a single pimple for the last month.</em>
				<a href="#" class="text-underline {{ linkColor }}">Perfect Skin Kit</a>
				<strong class="d-flex justify-content-center align-items-center mt-3">
					- Leana S.
					<img class="svg text-tsw" src="icons/verified.svg" replace-to-svg />
				</strong>
				<p class="font-size-sm">Verified buyer</p>
			</div>
		</div>
		<a class="carousel-control-prev text-body d-lg-none w-auto" href="#testimonialCarouselControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true">
				<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
			</span>
		</a>
		<a class="carousel-control-next text-body d-lg-none w-auto" href="#testimonialCarouselControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true">
				<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			</span>
		</a>
	</div>
</section>
