<section class="range-result container px-lg-0 mb-5">
	<div class="row align-items-center mx-lg-g position-relative range-result__decoration {{ classes }}">
		<div class="col-lg-6 order-lg-2 py-3 px-g range-result__decoration-mobile {{ decoration }}">
			<p class="h1 pt-g mb-3">{{ title }}</p>
			<p class="mb-3">{{ text }}</p>
			{{#if apc}}
			<ul class="list-unstyled row">
				<li class="col-6 col-lg-3 mb-3">
					<strong class="text-apc d-lg-block">Draws out</strong> impurities and oil
				</li>
				<li class="col-6 col-lg-3 mb-3">
					<strong class="text-apc d-lg-block">Reduce</strong> inflammation
				</li>
				<li class="col-6 col-lg-3 mb-3">
					<strong class="text-apc d-lg-block">Drastically reduces</strong> pore size
				</li>
				<li class="col-6 col-lg-3 mb-3">
					<strong class="text-apc d-lg-block">Moisturise and resurface</strong> soft skin
				</li>
			</ul>
			{{/if}}

			{{#if aea}}
			<ul class="list-unstyled row mb-0 mb-lg-5">
				<li class="col-6 col-lg-4 mb-3 order-lg-3">
					<p class="h1 text-aea mb-0">34%</p>
					<strong class="text-aea">increase</strong> in skin  <br class="d-none d-lg-block">hydration
				</li>
				<li class="col-6 col-lg-4 mb-3 order-lg-2">
					<p class="h1 text-aea mb-0">39%</p>
					<strong class="text-aea">reduction</strong> in visible <br class="d-none d-lg-block">finie lines
				</li>
				<li class="col-6 col-lg-4 mb-3 order-lg-1">
					<p class="h1 text-aea mb-0">144%</p>
					<strong class="text-aea">boost</strong> in collagen production
				</li>
			</ul>
			<p class="font-size-sm mb-g">Based on in-vitro testing on Glow Berries™,<br>3-O-Ethyl-Adcprboc Acid and Kakadu Plum.</p>
			{{/if}}

			{{#if tsw}}
			<ul class="list-unstyled row mb-0 mb-lg-5">
				<li class="col-6 col-lg-4 mb-3 order-lg-3">
					<p class="h1 text-tsw mb-0">34%</p>
					<strong class="text-tsw">increase </strong> in skin  <br class="d-none d-lg-block">elasticity
				</li>
				<li class="col-6 col-lg-4 mb-3 order-lg-2">
					<p class="h1 text-tsw mb-0">39%</p>
					<strong class="text-tsw">increase</strong> in moisture  <br class="d-none d-lg-block">retention
				</li>
				<li class="col-6 col-lg-4 mb-3 order-lg-1">
					<p class="h1 text-tsw mb-0">144%</p>
					<strong class="text-tsw">boost</strong> in skin  <br class="d-none d-lg-block">hydration
				</li>
			</ul>
			<p class="font-size-sm mb-g">*Based on in-vitro testing on Hyaluronic Acid and Tasmanian Fermented Sea Kelp.</p>
			{{/if}}

			{{#if oil}}
			<ul class="list-unstyled row mb-0 mb-lg-5">
				<li class="col-6 col-lg-4 mb-3">
					<p class="h1 text-oil mb-0">29%</p>
					<strong class="text-oil">decrease</strong> in skin  <br class="d-none d-lg-block">inflammation
				</li>
				<li class="col-6 col-lg-8 mb-3">
					<p class="h1 text-oil mb-0">60%</p>
					<strong class="text-oil">reduction</strong> in pore size
				</li>
				<li class="col-6 col-lg-4 mb-3">
					<p class="h1 text-oil mb-0">28%</p>
					<strong class="text-oil">decrease </strong> in sebum  <br class="d-none d-lg-block">over-production
				</li>
				<li class="col-6 col-lg-8 mb-3">
					<p class="h1 text-oil mb-0">72</p>
					<strong class="text-oil">hours</strong> soothing effect
				</li>
			</ul>
			<p class="font-size-sm mb-g">*Based on in-vitro testing</p>
			{{/if}}

		</div>

		{{#if carousel}}
		<div id="rangeResultCarousel" class="carousel slide col-lg-6 order-lg-1 px-0 pl-lg-0 pr-lg-g" data-ride="carousel">
			<div class="carousel-inner">
				<picture class="carousel-item active">
					<source srcset="https://via.placeholder.com/570x570?text=1" media="(min-width: 992px)"/>
					<img class="d-block w-100" src="https://via.placeholder.com/828x828?text=1" alt="First slide">
				</picture>
				<picture class="carousel-item">
					<source srcset="https://via.placeholder.com/570x570?text=2" media="(min-width: 992px)"/>
					<img class="d-block w-100" src="https://via.placeholder.com/828x828?text=2" alt="Second slide">
				</picture>
				<picture class="carousel-item">
					<source srcset="https://via.placeholder.com/570x570?text=3" media="(min-width: 992px)"/>
					<img class="d-block w-100" src="https://via.placeholder.com/828x828?text=3" alt="Third slide">
				</picture>
			</div>
			<a class="carousel-control carousel-control-prev carousel-control--background rounded-0" href="#rangeResultCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon d-flex text-body justify-content-center align-items-center" aria-hidden="true">
					<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
				</span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control carousel-control-next carousel-control--background rounded-0" href="#rangeResultCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon d-flex text-body justify-content-center align-items-center" aria-hidden="true">
					<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
				</span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		{{else}}
		<picture class="col-lg-6 order-lg-1 px-0 pl-lg-0 pr-lg-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
		{{/if}}
	</div>
</section>
