<figure class="product-card product-card--new position-relative col-6 d-flex flex-column {{ class }}">
	<a href="">
		<picture class="d-block">
			<img src="https://via.placeholder.com/444x558{{# if color}}/{{ color }}/fff{{/if}}" alt="Placeholder" class="d-block w-100">
		</picture>
	</a>
	<figcaption class="mt-2 flex-grow-1 d-flex flex-column">
		<form class="product-card-form flex-grow-1 d-flex flex-column h-100">
			<input type="hidden" name="id" value="variantId" />
			<input type="hidden" name="quantity" value="1" />
			{{# if badge}}<span class="badge badge-light position-absolute font-weight-normal">{{ badge }}</span>{{/if}}
			<p class="product-card__text-sm mb-2 text-muted">Tasmanian Spring Water</p>
			<a class="product-card__text mb-2 font-weight-bold text-body">{{# if title}}{{ title }}{{ else }}Hydration Boost Cream{{/if}}</a>

			<div class="mb-2 flex-grow-1 d-flex">
				<div class="yotpo bottomLine yotpo-small" data-product-id="4633315409991" data-yotpo-element-id="1">
					<div class="yotpo-display-wrapper" style="">
						<div class="standalone-bottomline" data-source="default" tabindex="-1">
							<div class="yotpo-bottomline pull-left  star-clickable" tabindex="0">
								<span class="yotpo-stars">
									<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
									<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
									<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
									<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
									<span class="yotpo-icon yotpo-icon-half-star rating-star pull-left"></span>
									<span class="sr-only">4.7 star rating</span>
								</span>
								<a href="javascript:void(0)" class="text-m" aria-label="579 reviews">579 Reviews</a>
								<div class="yotpo-clr"></div>
							</div>
							<div class="yotpo-clr"></div>
						</div>
						<div class="yotpo-clr"></div>
					</div>
				</div>
			</div>

			<p class="product-card__text mb-2">
				<span class="font-weight-bold">$39.73</span>
				<span class="text-muted text-linethrough">$39.73</span>
			</p>
			<button class="btn btn-block btn-outline-primary" type="submit">Add to cart</button>
		</form>
	</figcaption>
</figure>
