<figure class="product-card position-relative col-6 col-lg-1o5 d-flex flex-column pb-g pb-lg-3 {{ class }}">
	<a href="">
		<picture class="embed-responsive">
			<img src="https://via.placeholder.com/444x558{{# if color}}/{{ color }}/fff{{/if}}" alt="Placeholder" class="d-block w-100 embed-responsive-item fit--cover">
			<img src="https://via.placeholder.com/444x558" alt="Secondary Image" class="img--hover w-100 embed-responsive-item fit--cover">
		</picture>

		<picture class="badge--image position-absolute">
			<img class="w-100" src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/15_OFF.svg?v=1630294323" alt="">
		</picture>
	</a>
	<figcaption class="mt-2 flex-grow-1 d-flex flex-column">
		<form class="product-card-form flex-grow-1 d-flex flex-column h-100">
			<input type="hidden" name="id" value="variantId" />
			<input type="hidden" name="quantity" value="1" />
			{{# if badge}}<span class="badge badge-light position-absolute font-weight-normal">{{ badge }}</span>{{/if}}
			<p class="product-card__text-sm mb-2 text-muted">Tasmanian Spring Water</p>
			<a class="product-card__text mb-2 font-weight-bold">{{# if title}}{{ title }}{{ else }}Hydration Boost Cream{{/if}}</a>

			<div class="mb-2 flex-grow-1 align-items-center product-card__rating d-none" data-product-id="4633315409991" data-app-key="fsMa7k39L38cMBQ4Js5RqWEWkzwctFnC9qneHywU">
				<a href="product.html#yotpoFormCollapse" class="product-card__review-text font-size-xs text-body">0.0/5.0 - 0 Review</span>
			</div>

			<p class="product-card__text mb-2">
				<span class="font-weight-bold">$39.73</span>
				<span class="text-muted text-linethrough">$39.73</span>
			</p>
			<button class="btn btn-block btn-outline-primary" type="submit">Add to cart</button>
		</form>
	</figcaption>
</figure>
