<div class="product-card position-relative col-6 {{#if range_page}}{{range_page_classes}}{{else}}{{#if home-range-section}}{{else}}col-lg-3{{/if}}{{/if}} d-flex flex-column pb-2 {{ class }}">
    <figure class="bg-gray-100 rounded">
        <a href="">
            <noscript class="loading-lazy">
            <picture class="embed-responsive bg-shimmer">
                <img src="https://via.placeholder.com/444x558{{# if color}}/{{ color }}/fff{{/if}}" alt="Placeholder" class="rounded-top d-block w-100 embed-responsive-item fit--cover" loading="lazy">
                <img src="https://via.placeholder.com/444x558" alt="Secondary Image" class="rounded-top img--hover w-100 embed-responsive-item fit--cover" loading="lazy">
            </picture>
            </noscript>

            {{# if badgeimg}}
            <noscript class="loading-lazy">
            <picture class="badge--image position-absolute">
                <img class="w-100" src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/SS_Web_HalloweenCampaign_Stickere_-01.svg?v=1635211464" alt="">
            </picture>
            </noscript>
            {{/if}}
        </a>
        <figcaption class="mt-2 flex-grow-1 d-flex flex-column p-2 product-card__content">
            <form class="product-card-form flex-grow-1 d-flex flex-column h-100">
                <input type="hidden" name="id" value="variantId" />
                <input type="hidden" name="quantity" value="1" />
                {{# if badge}}<span class="badge badge-light position-absolute font-weight-normal">{{ badge }}</span>{{/if}}
                <p class="product-card__text-sm mb-2 text-muted">Tasmanian Spring Water</p>
                <a class="product-card__text mb-2 font-weight-bold">{{# if title}}{{ title }}{{ else }}Hydration Boost Cream{{/if}}</a>

                <div class="mb-2 flex-grow-1 align-items-center">
                    {{!-- DEV --}}
                    <div class="react-yotpo-star" data-product-id="4633315409991" data-hide-stars="true"></div>
                    {{!-- US --}}
                    {{!-- <div class="react-yotpo-star" data-product-id="3595105992809" data-hide-stars="true"></div> --}}
                </div>
                <button type="button" class="mt-3 btn btn-primary rounded-pill d-flex p-0 align-items-center product-card__btn">
			        <span class="d-inline-block w-50 border-right py-1 py-lg-2 bg-white rounded-pill-left">
			            <span class="text-gray-500 mr-lg-1 text-linethrough font-size-xs">$39.73</span>
			            <span class="text-body font-size-xs">$39.73</span>
			        </span>
			        <span class="font-size-xs d-inline-block w-50 text-white">Add to Cart</span>
			    </button>
                <button type="button" class="d-none py-2 mt-3 btn px-g px-lg-3 justify-content-lg-between product-card__btn-variant {{#if home-range-section}}product-card__btn-variant-home justify-content-between align-items-center{{/if}} {{#if range_page}}product-card__btn-variant-home justify-content-between align-items-center{{/if}}">
                    <span class="d-flex align-items-center justify-content-center font-size-sm product-card__btn-variant-text">Add to Cart</span>
                    <span class="d-flex align-items-center justify-content-center font-size-sm product-card__btn-variant-text">
                        <span class="font-weight-normal text-linethrough mr-1">$99.73</span>
                        <span>$39.73</span>
                    </span>
                </button>
            </form>
        </figcaption>
    </figure>
</div>
