<figure class="product-card product-card--secondary {{ class }} text-center mb-4">
  <picture class="d-block img-main">
    <img src="https://via.placeholder.com/270x336{{# if color}}/{{ color }}/fff{{/if}}" alt="Placeholder" class="d-block w-100">
  </picture>
  <picture class="img-hover position-absolute">
    <img src="https://via.placeholder.com/270x336/#ff798f" alt="Placeholder" class="d-block">
  </picture>
  {{#if badge}}
  <picture class="circle-badge position-absolute">
    <source srcset="https://via.placeholder.com/100x100/F3436C" media="(min-width: 992px)"/>
    <source srcset="https://via.placeholder.com/75x75/F3436C"/>
    <img class="img-fluid w-100 rounded-circle" src="https://via.placeholder.com/66x66/F3436C"/>
  </picture>
  {{/if}}
  <figcaption class="mt-1 d-flex flex-column">
    <p class="mb-1 text-muted h4 font-weight-normal">Tasmanian Spring Water</p>
    <p class="font-weight-bold h2 px-1 my-auto">
      {{#if title }}
      <a class="text-dark" href="#">{{title}}</a>
      {{else}}
      <a class="text-dark" href="#">Hydration Boost Cream</a>
      {{/if}}
    </p>
    <div class="my-auto">
      <div class="yotpo-product-stars text-secondary d-flex justify-content-center" data-key="fsMa7k39L38cMBQ4Js5RqWEWkzwctFnC9qneHywU" data-product="4633315409991">

      </div>
    </div>
    <p class="mb-1">
      <span class="text-muted text-linethrough">$39.73</span>
      <span class="font-weight-bold">$39.73</span>
      {{#if saving }}
      <span class="text-secondary d-sm-block d-lg-inline">(Save {{saving}})</span>
      {{/if}}
    </p>
    <button class="btn btn-lg btn-block bg-primary rounded-0 text-white">Add to cart</button>
  </figcaption>
</figure>
