<div class="ig-card text-left mb-0 col-9 col-lg-3 {{ class }}" data-category="{{ category }}" data-video-id="{{ id }}">
	<video class="w-100 rounded-lg mb-1" muted loop playsinline webkit-playsinline autoplay name="media" poster="{{ poster }}">
		<source
			src="{{ src }}"
			type="video/mp4">
	</video>
	<p class="font-weight-bold mb-25">Meredith Langosh</p>
	<a href="#" class="font-size-sm text-body text-underline">Sunny Honey Bali Bronzing Foam</a>
</div>
