<figure class="product-card--routine col-9 col-lg-4 flex-grow-1 d-flex flex-wrap flex-column {{ carousel }} mb-0">
    <div class="m-0 bg-gray-100 pb-3 d-flex flex-column flex-grow-1 rounded">
        <a href="/" class="d-block">
            <picture>
                <img src="https://via.placeholder.com/700x660" alt="Placeholder" class="d-block w-100 mb-3 rounded-top">
            </picture>
        </a>
        <figcaption class="text-center mx-lg-2 mx-1 flex-grow-1 d-flex flex-column rounded">
            <a href="/" class="h4 mb-2 d-block">{{title}}</a>
            <p class="d-block text-body flex-grow-1 d-flex flex-row flex-grow-1">{{ content }}</p>
            <p class="text-center d-flex flex-row flex-grow-1 justify-content-center align-items-end">
                {{#if compare_price }}<span class="text-linethrough h4 m-1">{{compare_price}}</span>{{/if}}<span class="text-primary h4 my-1">{{price}}</span>
            </p>
            <button type="button" class="btn mx-auto px-3 add-to-cart px-0 btn-primary mb-0 justify-content-center">
                Add To Cart
            </button>
        </figcaption>
    </div>
</figure>
