<div class="product-image-carousel__container col-12 col-lg-6 order-lg-2">
	<figure id="product-image-carousel{{#if num}}{{num}}{{/if}}" class="product-image-carousel carousel slide carousel--loop mb-3 no-gutters__in-container d-lg-flex flex-column" data-ride="carousel" data-interval="false" data-indicator="#product-image-carousel__indicator{{#if num}}{{num}}{{/if}}">
		<div class="carousel--centered order-lg-2">
			<div class="carousel-inner row flex-nowrap" role="listbox">
				<!-- additional image reveal left start / last picture -->
				<div class="col-9 col-lg-12 px-0 d-lg-none carousel-item active">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=6" alt="Slide 6">
				</div>
				<div class="col-9 col-lg-12 px-0 carousel-item">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=1" alt="Slide 1">
				</div>
				<div class="col-9 col-lg-12 px-0 carousel-item ">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=2" alt="Slide 2">
				</div>
				<div class="col-9 col-lg-12 px-0 carousel-item">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=3" alt="Slide 3">
				</div>
				<div class="col-9 col-lg-12 px-0 carousel-item">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=4" alt="Slide 4">
				</div>
				<div class="col-9 col-lg-12 px-0 carousel-item">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=5" alt="Slide 5">
				</div>
				<!-- additional image reveal right end / first pic -->
				<div class="col-9 col-lg-12 px-0 d-lg-none carousel-item">
					<img class="img-fluid" src="https://via.placeholder.com/750x750/?text=1" alt="Slide 1">
				</div>
			</div>
		</div>
		<figcaption class="text-center font-size-sm py-1 text-white {{ rangeclass }}">Best for Pore Refining</figcaption>
	</figure>
</div>
<div id="product-image-carousel__indicator{{#if num}}{{num}}{{/if}}" class="product-image-carousel__indicator col-12 col-lg-1 order-lg-1 carousel slide carousel--loop mb-1" {{#if (gt totalSlide 5)}}data-slide-number="5" data-ride="carousel" data-interval="false"{{/if}} >
	<div class="carousel-inner d-flex flex-nowrap flex-lg-column {{#if (gt totalSlide 5)}}{{else}}justify-content-center justify-content-lg-start{{/if}}" data-target="#product-image-carousel{{#if num}}{{num}}{{/if}}">
		<div class="product-image-carousel__indicator__item carousel-item active col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="0" data-index="1">
			<span class="m-0 border d-block border-secondary">
				<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/?text=1" alt="Slide 1">
			</span>
		</div>
		<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="1" data-index="2">
			<span class="m-0 border d-block border-white">
				<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/?text=2" alt="Slide 2">
			</span>
		</div>
		<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="2" data-index="3">
			<span class="m-0 border d-block border-white">
				<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/?text=3" alt="Slide 3">
			</span>
		</div>
		<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="3" data-index="4">
			<span class="m-0 border d-block border-white">
				<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/?text=4" alt="Slide 4">
			</span>
		</div>

		<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="4" data-index="5">
			<span class="m-0 border d-block border-white">
				<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/?text=5" alt="Slide 5">
			</span>
		</div>
	</div>
</div>
